<div class="main">
  <div class="main__card">

    <div class="main__card__left">
      <h1 class="card-data title"></h1>
      <img class="card-data challengeImage">
        <h4 class="card-data sm"></h4>    
        <h5 class="card-data sm"></h5>
        <h5 class="card-data sm"></h5>
        <h5 class="card-data sm"></h5>
    </div>

    <div class="main__card__right">
      <h1></h1>
      <div class="forComments">
        <div class="forComments__card">
          <img>
          <div></div>
        </div>
        <div class="forComments__card">
          <img>
          <div></div>
        </div>
        <div class="forComments__card">
          <img>
          <div></div>
        </div>
      </div>
      <a class="link" target="_blank"></a>
    </div>

  </div>
</div>

