.challenge-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.search-input input {
  padding: 15px;
  border: 1px solid black;
  border-radius: 50px;
  width: 30%;
  font-size: 20px;

  &:focus {
    border: 1px solid #000956;
    transition: 0.35s ease;
    color: #000000;

    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }

    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }

    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}

.search-input i {
  color: #000956;
  position: relative;
  float: right;
  left: -35px;
  font-size: 20px;
}


textarea:focus,
input:focus {
  outline: none;
}
